.container .circle{
	width: 200px;
	height: 200px;
	/*background: green;*/
	border-radius: 50%;
	background: conic-gradient(
     red,
     yellow,
     green,orange,
     black,lightblue
	);
}

.container .circle2{
	width: 200px;
	height: 200px;
	/*background: green;*/
	border-radius: 50%;
	background: conic-gradient(
      #ebc934,
      #2f4dba,
      #d9185b,
      #f7810a
	);
}

.container .circle3{
	width: 200px;
	height: 200px;
	/*background: green;*/
	border-radius: 50%;
	background: conic-gradient(
    rgba(127,64,127,1.00),
    rgba(29,141,255,1.00),
    rgba(244,8,255,0.22),
    rgba(220,40,255,1.00)
	);
}

.container .circle4{
	width: 200px;
	height: 200px;
	border-radius: 50%;

	background: conic-gradient(
     red 20%,               
     yellow 0% 30%,          
     black 0% 80% ,         
     blue 0%
     	 );

}

.container .circle5{
	width: 200px;
	height: 200px;
	border-radius: 50%;
	margin-bottom: 30px;

	background: conic-gradient(
      red 20%,
      green 0% 30%,
      yellow 0% 80%,
      black 0%
	);
}

.container2{
	width: 600px;
	height: 300px;
	/*background: green;*/

	display: flex;
	justify-content: center;
	align-items: center;

	margin: auto;

	position: relative;

}


.container2 .c1{
	width: 300px;
	height: 300px;
	background: black;
	border-radius: 50%;
	z-index: 1;

	position: absolute;
}

.container2 .c2{
	width: 320px;
	height: 320px;
	background: conic-gradient(
    red 0%,
    violet 30%,
    red 0,
    blue 70%,
    red 0,
    yellow 100%
	);
	border-radius: 50%;

	position: absolute;
}

.shell{
	width: 20px;
	height: 200px;
	/*background: red;*/

	z-index: 2;

	position: absolute;
	top: -40px;

	transform-origin: bottom center;

	animation-name: abc;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

.pointer{
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 50%;

	background: blue;
}
/*
@keyframes abc{
     from{
        transform: rotate(0deg);
     }
     to{
        transform: rotate(360deg);
     }
}*/


@keyframes abc{
     from{
        transform: rotate(360deg);
     }
     to{
        transform: rotate(0deg);
     }
}