.divtop{
	width: 1350px;
	height: 150px;
	border: 2px solid orange;
}

.divleft{
	width: 221px;
	height: 500px;
	border: 2px solid orange;

	float: left;
}

.divcenter{
	width: 900px;
	height: 500px;
	border: 2px solid orange;
	float: left;
}

.divright{
	width: 221px;
	height: 500px;
	border: 2px solid orange;
	float: left;
}

.divbottom{
	width: 1350px;
	height: 100px;
	border: 2px solid orange;
	clear: both;
}